@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
*{
	font-family: 'Raleway', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	/*margin-bottom: 81px;*/
}

main {
	flex: 1 0 auto;
}

.dropdown-content{
	top: 67px !important;
	height: auto !important;
}
.teal.accent-4{
	background-color: #3CADA4 !important;
}
.teal-text.accent-4{
	color: #3CADA4 !important;
}
.nav-side{
	margin: 0 -.75rem;
}
.hr-divider{
	border: 2px solid #3cada4;
	width: 100px;
}
.nav-side li{
	padding: 0 0.75rem !important;
	line-height: 44px !important;
}
.side-nav {
    height: 100% !important;
    overflow-x: hidden;
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}
.logo{
	margin: 15px auto;
	display: block;
}
.brand-logo .logo{
    width: 200px;
}#sidenav-overlay {
    z-index: 996;
}
.imagen-preview{
	height: 300px;
	background-color: #ddd;
	border:1px solid #eee;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}
.thin{
	font-weight: 100;
}
.extra-light{
	font-weight: 200;
}
.light{
	font-weight: 300;
}
.regular{
	font-weight: 400;
}
.medium{
	font-weight: 500;
}
.semi-bold{
	font-weight: 600;
}
.bold{
	font-weight: 700;
}
.extra-bold{
	font-weight: 800;
}
.black{
	font-weight: 900;
}
#owl-demo .item img{
	width: 100%;
}
.tabs-programation .tab{
	width: 13%;
}
.tabs-programation .tab a:hover, .tabs-programation .tab a.active {
    color: #009688;
}
.tabs-programation .tab a {
    color: #009688;
}
.tabs-programation .indicator {
    background-color: #009688;
}
.collection-program{

	border: 0px !important;
}
.on-air-section .collection-program .collection-item, .programation-section .collection-program .collection-item{
	background-color: transparent ;
	color: #009688 ;
}
.on-air-section.footer .collection-program .collection-item, .programation-section.footer .collection-program .collection-item{
	background-color: transparent !important;
	color: #fff !important;
	border: 0px;
}
.collection-program .collection-item.avatar {
    min-height: 60px;
}
.collection-program .collection-item .hour {
	color: #000;
	font-style: italic;
}
.footer .collection-program .collection-item .hour {
	color: #fff;
}
.footer .collection-program .collection-item .title {
	color: #fff;
}
.collection-program .collection-item.avatar img.circle{
    border-radius: 0%;
}
.audio{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px 0 8px 0;
}
.audio.grey{
	background-color: #404449 !important;
}
.audio .musesStyleReset{
	display: inline-block;
}
.audio span.cc_streaminfo{
	display: block;
	color: #fff;
}
.cookies-policy{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 5px 15px 5px 15px;
	z-index: 10;
	border-top: 4px solid rgb(68, 68, 68);
	font-size: 12px;
}
.cookies-policy a.done{
	padding: 0 5px;
	height: 23px;
	font-size: 12px;
	line-height: 2;
}

.navbar-fixed nav{
	background-color: rgba(255,255,255,0.9);
}
.navbar-fixed nav ul a {
    /*color: #000;*/
}
.link-img-player{
	display: inline-block;
	margin-right: 15px;
}
.img-player{
	width: 50px;
}
nav.blue-grey{
  /*  height: 60px;*/
}
.carousel-program{
	background: -webkit-linear-gradient(-90deg, #fff 0, #fff 40%, #3CADA4 40%, #3CADA4 60%, #fff 60%, #fff 100%);
  background: -moz-linear-gradient(180deg, #fff 0, #fff 40%, #3CADA4 40%, #3CADA4 60%, #fff 60%, #fff 100%);
  background: linear-gradient(180deg, #fff 0, #fff 40%, #3CADA4 40%, #3CADA4 60%, #fff 60%, #fff 100%);
}
nav ul li a{
	text-transform: uppercase;
}
input[type="text"]:not(.browser-default){
	border-bottom: 1px solid #fff;
}
.input-field.white-field label {
	color: #fff;
}
.input-field.white-field input[type=text]:focus + label, .input-field.white-field input[type=password]:focus + label{
	color: #fff;
}
.input-field.white-field input[type=text]:focus, .input-field.white-field input[type=password]:focus{
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
.input-field.white-field input[type=text].valid, .input-field.white-field input[type=password].valid{
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
.input-field.white-field input[type=text].invalid, .input-field.white-field input[type=password].invalid{
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
.input-field.white-field .prefix.active {
	color: #fff;
}



.input-field label {
	color: #0d47a1;
}
.input-field input[type="text"]:not(.browser-default):focus:not([readonly]) + label, .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field textarea:focus + label, .input-field textarea:not(.browser-default):focus:not([readonly]) + label{
	color: #0d47a1;
}
.input-field  input[type="text"]:not(.browser-default):focus:not([readonly]),.input-field input[type=text]:focus, .input-field input[type=password]:focus, .input-field textarea:focus, .input-field  textarea:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #0d47a1;
	box-shadow: 0 1px 0 0 #0d47a1;
}
.input-field input[type=text].valid, .input-field input[type=password].valid, .input-field textarea.valid{
	border-bottom: 1px solid #0d47a1;
	box-shadow: 0 1px 0 0 #0d47a1;
}
.input-field input[type=text].invalid, .input-field input[type=password].invalid, .input-field textarea.invalid{
	border-bottom: 1px solid #0d47a1;
	box-shadow: 0 1px 0 0 #0d47a1;
}
.input-field .prefix.active {
	color: #0d47a1;
}
.switch label{
	color: #0d47a1;
}
@media only screen and (min-width: 601px){
/*	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	    height: 95px;
	    line-height: 95px;
	}
	.navbar-fixed {
	    height: 95px;
	}*/
}
@media only screen and (min-width : 992px) {
	.dashboard main{
		padding-left: 300px;
	}
	.dashboard header{
		padding-left: 300px;
	}
	.dashboard footer{
		padding-left: 300px;
	}
}

@media print {
  .side-nav {
    visibility: hidden;
  }
}